*{
    font-family: 'Ubuntu', sans-serif;
}

/* Inicio Header */
.cabecera{
    background-color: #2E3F51;
    position: fixed;
    z-index: 100;
}
.titulo h1{
    color: white;
    padding-left: 4em;
}
.menu{
    padding-top: 1.7em;
}
.menu li{
    display: inline-block;
    padding-right: 1em;
}
.menu ul li a{
    color: white;
    font-weight: bolder;
}
.cabecera-imagen{
    background-color: #18BB9C;
}
.imagen{
    text-align: center;
    padding: 10em 0;
}
.imagen div{
    margin-bottom: 2em;
}
.imagen h2{
    color: white;
    font-size: 4.5em;
}
.imagen p{
    color: white;
    font-size: 1.8em;
}
.estrella{
    margin: 2em 0;
}
.estrella span{
    color: white;
    font-size: 2em;
}
.icon-star-full{
    margin: 0 .3em;
}
/* Fin Header */

/* Inicio Portafolio */
.portafolio{
    padding: 0 10em;
}
.galeria div img{
    width: 100%;
    height: auto;
}
.estrella1 span{
    color: black;
    font-size: 2em;
}
.nombre-portafolio{
    text-align: center;
    margin-top: 6em;
}
.nombre-portafolio div p{
    color: black;
    font-size: 3em;
    font-weight: bolder;
}
/* Fin portafolio */

/* Inicio about */
.about{
    background-color: #18BB9C;
    text-align: center;
    padding: 5em 0;
}
.about-titulo p{
    color: white;
    font-size: 3.5em;
    font-weight: bold;
}
.about-texto{
    padding: 0 20em;
    margin-bottom: 2em;
}
.about-texto div p{
    color: white;
    font-size: 1.3em;
}
.about-boton a{
    color: white;
    font-size: 1.2em;
    padding: 1em 2em;
    border-radius: 5px;
    border: 2px solid white;
}
/* Fin about */